In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
path_upper="upper.txt"
df_upper = pd.read_csv(path_upper, sep=":")

In [3]:
df_upper_copy=df_upper.copy()
df_upper

,Unnamed: 0,t_floral,t_stripe,t_dot,f_lace,f_denim,f_chiffon,f_cotton,f_leather,f_fur,p_sleeveless,p_long-sleeve,p_collar,p_pocket,p_v-neck,p_button,p_hooded,p_zipper,total
0,img/Sheer_Pleated-Front_Blouse/img_00000001.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,img/Sheer_Pleated-Front_Blouse/img_00000002.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,img/Sheer_Pleated-Front_Blouse/img_00000003.jpg,0,0,0,0,0,0,0,0,0,1,0,0,0.0,1.0,0.0,0.0,0.0,2.0
3,img/Sheer_Pleated-Front_Blouse/img_00000004.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,img/Sheer_Pleated-Front_Blouse/img_00000005.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96908,img/Fringed_Diamond-Patterned_Sweater/img_0000...,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
96909,img/Fringed_Diamond-Patterned_Sweater/img_0000...,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
96910,img/Fringed_Diamond-Patterned_Sweater/img_0000...,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
96911,img/Fringed_Diamond-Patterned_Sweater/img_0000...,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
96912,img/Fringed_Diamond-Patterned_Sweater/img_0000...,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
path_lower="lower.txt"
df_lower = pd.read_csv(path_lower, sep=":")

In [5]:
df_upper.iloc[:, df_upper.columns != 'Unnamed: 0']

,t_floral,t_stripe,t_dot,f_lace,f_denim,f_chiffon,f_cotton,f_leather,f_fur,p_sleeveless,p_long-sleeve,p_collar,p_pocket,p_v-neck,p_button,p_hooded,p_zipper,total
0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,0,0,0,0,0,0,0,0,1,0,0,0.0,1.0,0.0,0.0,0.0,2.0
3,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96908,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
96909,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
96910,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
96911,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
96912,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_lower.iloc[:, df_lower.columns != 'Unnamed: 0']

,t_floral,t_stripe,t_dot,f_denim,f_leather,f_cotton,f_knit,f_pleated,s_fit,s_pencil,s_midi,s_mini,s_maxi,p_zipper,total
0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,3
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
4,0,0,0,1,0,0,0,0,0,0,0,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58958,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
58959,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
58960,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
58961,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
58962,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1

In [7]:

colsToDrop = ['Unnamed: 0','total']
df_lower=df_lower.drop(colsToDrop, axis=1)

In [8]:
colsToDrop = ['Unnamed: 0','total']
df_upper=df_upper.drop(colsToDrop, axis=1)

# Matching the upper and lower body clothing items

In [9]:
df_mapping = pd.DataFrame({'top': pd.Series(range(0,100)), 'bottom': pd.Series(range(0,100))})
df_mapping

    top  bottom
0     0       0
1     1       1
2     2       2
3     3       3
4     4       4
..  ...     ...
95   95      95
96   96      96
97   97      97
98   98      98
99   99      99

[100 rows x 2 columns]

In [10]:
X = df_upper.iloc[:,:][0:100]
Y = df_lower.iloc[:,:][0:100]
Y

,t_floral,t_stripe,t_dot,f_denim,f_leather,f_cotton,f_knit,f_pleated,s_fit,s_pencil,s_midi,s_mini,s_maxi,p_zipper
0,0,0,0,1,0,0,0,0,0,1,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,0,0,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,0,0,0,0
97,0,0,0,0,0,0,0,0,0,0,0,0,0,0
98,0,0,0,1,0,0,0,0,0,0,0,0,0,0
99,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [11]:
Y = df_lower.iloc[df_mapping[0:100]["bottom"], :][0:100]
# bottom
Y

,t_floral,t_stripe,t_dot,f_denim,f_leather,f_cotton,f_knit,f_pleated,s_fit,s_pencil,s_midi,s_mini,s_maxi,p_zipper
0,0,0,0,1,0,0,0,0,0,1,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,0,0,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,0,0,0,0
97,0,0,0,0,0,0,0,0,0,0,0,0,0,0
98,0,0,0,1,0,0,0,0,0,0,0,0,0,0
99,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [12]:
#lower
X

,t_floral,t_stripe,t_dot,f_lace,f_denim,f_chiffon,f_cotton,f_leather,f_fur,p_sleeveless,p_long-sleeve,p_collar,p_pocket,p_v-neck,p_button,p_hooded,p_zipper
0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
1,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
2,0,0,0,0,0,0,0,0,0,1,0,0,0.0,1.0,0.0,0.0,0.0
3,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
4,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,0.0,0.0,0.0
96,0,0,0,0,0,0,0,0,0,0,1,0,0.0,0.0,0.0,0.0,0.0
97,0,0,0,0,0,0,0,0,0,1,0,0,0.0,0.0,0.0,0.0,0.0
98,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0
99,0,0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0

Splitting the data into train and test

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25, random_state = 0)
# y_test
# X_test
# y_train
# y_test

# Training using K-NN model

In [14]:

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [15]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 2)
classifier.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=2)

In [16]:
y_pred = classifier.predict(X_test)

In [17]:

y_pred

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [18]:
y_test

,t_floral,t_stripe,t_dot,f_denim,f_leather,f_cotton,f_knit,f_pleated,s_fit,s_pencil,s_midi,s_mini,s_maxi,p_zipper
26,0,0,0,0,0,0,0,0,0,1,0,0,0,0
86,0,0,0,1,0,0,0,0,0,1,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0
55,0,0,0,0,0,0,0,0,0,1,0,0,0,0
75,0,0,0,0,0,0,0,0,0,0,0,0,0,0
93,0,0,0,0,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,0,0,0,0
73,0,0,0,1,0,0,0,0,0,0,1,0,0,0
54,0,0,0,1,0,0,0,0,0,0,0,0,0,0
95,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53,0,0,0,0,0,0,0,0,0,1,0,0,0,0
92,0,0,0,0,0,0,0,0,0,0,0,0,0,0
78,0,0,0,1,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,1,0,0,0,0,0,0,0,1,0,0
30,0,0,0,1,0,0,0,0,0,1,0,0,0,0
22,0,0,0,1,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,0,0,0,0
33,0,0,0,0,0,0,0,0,1,1,0,0,0,0
8,0,0,0,1,0,0,0,0,0,0,0,1,0,0
43,0,0,0,0,0,0,0,0,0,0,0,0,0,0
62,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0
71,0,0,0,0,0,0,0,0,0,1,0,0,0,0
45,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [19]:
from sklearn.metrics import confusion_matrix

In [20]:
y_pred == y_test

,t_floral,t_stripe,t_dot,f_denim,f_leather,f_cotton,f_knit,f_pleated,s_fit,s_pencil,s_midi,s_mini,s_maxi,p_zipper
26,True,True,True,True,True,True,True,True,True,False,True,True,True,True
86,True,True,True,False,True,True,True,True,True,False,True,True,True,True
2,True,True,True,False,True,True,True,True,True,True,True,True,True,True
55,True,True,True,True,True,True,True,True,True,False,True,True,True,True
75,True,True,True,True,True,True,True,True,True,True,True,True,True,True
93,True,True,True,True,True,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,True,True,True,True,True,True,True
73,True,True,True,False,True,True,True,True,True,True,False,True,True,True
54,True,True,True,False,True,True,True,True,True,True,True,True,True,True
95,True,True,True,True,True,True,True,True,True,True,True,True,True,True
53,True,True,True,False,True,True,True,True,True,False,True,True,True,True
92,True,True,True,True,True,True,True,True,True,True,True,True,True,True
78,True,True,True,False,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True,True,True,True,True
7,True,True,True,False,True,True,True,True,True,True,True,False,True,True
30,True,True,True,False,True,True,True,True,True,False,True,True,True,True
22,True,True,True,False,True,True,True,True,True,True,True,True,True,True
24,True,True,True,True,True,True,True,True,True,True,True,True,True,True
33,True,True,True,True,True,True,True,True,False,False,True,True,True,True
8,True,True,True,False,True,True,True,True,True,True,True,False,True,True
43,True,True,True,True,True,True,True,True,True,True,True,True,True,True
62,True,True,True,True,True,True,True,True,True,True,True,True,False,True
3,True,True,True,True,True,True,True,True,True,True,True,False,True,True
71,True,True,True,True,True,True,True,True,True,False,True,True,True,True
45,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [21]:
# confusion_matrix(y_test.values.argmax(axis=1), y_pred.argmax(axis=1))
matching=(y_pred == y_test).all(True)
matching

26    False
86    False
2     False
55    False
75     True
93     True
16     True
73    False
54    False
95     True
53    False
92     True
78    False
13     True
7     False
30    False
22    False
24     True
33    False
8     False
43     True
62    False
3     False
71    False
45     True
dtype: bool

In [22]:
correctPredictions=sum(matching==True)

In [23]:
correctPredictionsRatio=correctPredictions/len(matching)
correctPredictionsRatio*100

36.0

In [24]:
X_set, y_set = X_train, y_train

In [25]:
X_set

array([[-0.16552118, -0.11624764,  0.        , ..., -0.4145781 ,
         0.        , -0.11624764],
       [-0.16552118, -0.11624764,  0.        , ..., -0.4145781 ,
         0.        , -0.11624764],
       [-0.16552118, -0.11624764,  0.        , ..., -0.4145781 ,
         0.        , -0.11624764],
       ...,
       [-0.16552118, -0.11624764,  0.        , ..., -0.4145781 ,
         0.        , -0.11624764],
       [-0.16552118, -0.11624764,  0.        , ..., -0.4145781 ,
         0.        , -0.11624764],
       [-0.16552118, -0.11624764,  0.        , ..., -0.4145781 ,
         0.        , -0.11624764]])

In [26]:

y_set

,t_floral,t_stripe,t_dot,f_denim,f_leather,f_cotton,f_knit,f_pleated,s_fit,s_pencil,s_midi,s_mini,s_maxi,p_zipper
48,0,0,0,1,0,0,0,0,0,1,1,0,0,0
6,0,0,0,0,0,0,0,0,0,0,0,1,0,0
99,0,0,0,1,0,0,0,0,0,0,0,0,0,0
82,0,0,0,1,0,0,0,0,0,0,0,0,0,0
76,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,0,0,0,0,0,0,0,0,0,0,0,0,0,0
67,0,0,0,1,0,0,0,0,0,1,1,0,0,0
64,0,1,0,0,0,0,0,0,0,1,0,0,0,0
47,0,0,0,1,0,0,0,0,0,1,1,0,0,0
44,0,0,0,1,0,0,0,0,0,1,0,0,0,0

In [27]:
df_upper_copy[df_upper_copy["total"]>4]

,Unnamed: 0,t_floral,t_stripe,t_dot,f_lace,f_denim,f_chiffon,f_cotton,f_leather,f_fur,p_sleeveless,p_long-sleeve,p_collar,p_pocket,p_v-neck,p_button,p_hooded,p_zipper,total
1466,img/Slub_Knit_Buttoned-Back_Blouse/img_0000009...,1,0,0,1,0,0,0,0,0,0,1,0,1.0,0.0,1.0,0.0,0.0,5.0
2151,img/Split-Neck_Chiffon_Blouse/img_00000107.jpg,0,1,0,1,0,1,0,1,1,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
2495,img/Striped_Chiffon_Blouse/img_00000093.jpg,0,1,0,0,0,1,0,0,0,0,1,1,0.0,0.0,1.0,0.0,0.0,5.0
2578,img/Striped_Floral_Blouse/img_00000012.jpg,1,1,0,0,0,0,0,0,0,0,1,1,0.0,0.0,1.0,0.0,0.0,5.0
2642,img/Striped_Floral_Blouse/img_00000076.jpg,1,1,0,0,0,1,0,0,0,0,1,0,1.0,0.0,0.0,0.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84026,img/Draped-Collar_Snap_Button_Jacket/img_00000...,0,1,0,0,0,0,1,1,1,0,0,0,0.0,0.0,1.0,0.0,0.0,5.0
86618,img/Embroidered_Mesh_Bomber_Jacket/img_0000002...,1,0,0,0,1,0,0,0,0,0,1,1,0.0,0.0,0.0,0.0,1.0,5.0
88255,img/Faded_Pocket_Tee/img_00000060.jpg,0,0,0,0,1,0,1,0,0,0,1,0,1.0,1.0,0.0,0.0,0.0,5.0
91724,img/Faux_Suede_Fringe_Jacket/img_00000064.jpg,1,0,0,0,0,0,0,1,1,0,1,1,0.0,0.0,0.0,0.0,1.0,6.0
94791,img/Floral_Robin_Print_Tee/img_00000022.jpg,1,0,0,0,0,1,0,0,0,0,1,1,0.0,0.0,1.0,0.0,0.0,5.0

In [34]:
number=df_upper.iloc[[1466]]
number

,t_floral,t_stripe,t_dot,f_lace,f_denim,f_chiffon,f_cotton,f_leather,f_fur,p_sleeveless,p_long-sleeve,p_collar,p_pocket,p_v-neck,p_button,p_hooded,p_zipper
1466,1,0,0,1,0,0,0,0,0,0,1,0,1.0,0.0,1.0,0.0,0.0

# Predicted new clothing item

In [49]:

query=number.values
query = query.reshape(1, -1)

predicted_lower= classifier.predict(query)

In [50]:
print(predicted_lower)

[[0 0 0 0 0 0 0 0 0 0 0 0 0 0]]

In [52]:
%%time

import os
import boto3
import sagemaker

from sagemaker import get_execution_role

region = boto3.Session().region_name

role = get_execution_role()

CPU times: user 363 ms, sys: 43.9 ms, total: 407 ms
Wall time: 460 ms

In [53]:

print(role)
print(region)

arn:aws:iam::767858334163:role/service-role/AmazonSageMaker-ExecutionRole-20210802T133826
us-east-2

In [55]:
from sagemaker.amazon.amazon_estimator import get_image_uri

#### Get the built-in xgboost container image in Sagemaker to host our model
container = get_image_uri(boto3.Session().region_name, "xgboost", "0.90-1")

The method get_image_uri has been renamed in sagemaker>=2.
See: https://sagemaker.readthedocs.io/en/stable/v2.html for details.

In [56]:

%%time
from time import gmtime, strftime

CPU times: user 9 µs, sys: 0 ns, total: 9 µs
Wall time: 12.9 µs

In [57]:
sm_client = boto3.client("sagemaker")

In [59]:
sagemaker.__version__

'2.48.1'

In [60]:
from sagemaker.debugger import Rule, rule_configs
from sagemaker.session import TrainingInput

In [61]:
print(container)

257758044811.dkr.ecr.us-east-2.amazonaws.com/sagemaker-xgboost:0.90-1-cpu-py3

In [62]:
model_file_name = "Test-deployment-knn"

In [189]:
import joblib
# joblib.dump(query, model_file_name)
joblib.dump(classifier, model_file_name)

['Test-deployment-knn']

In [65]:
!conda install -y -c conda-forge xgboost==0.90

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.8.4
  latest version: 4.10.3

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

In [190]:
import xgboost

mymodel = joblib.load(model_file_name)

In [191]:
print(model_file_name)
with open(model_file_name, "r") as f:
    print(f)

Test-deployment-knn
<_io.TextIOWrapper name='Test-deployment-knn' mode='r' encoding='UTF-8'>

In [192]:
predicted_lower_knn= mymodel.predict(query)

In [193]:
print(predicted_lower_knn)

[[0 0 0 0 0 0 0 0 0 0 0 0 0 0]]

### Creating a tar.gz model file as this is the format required by Sagemaker for deployment.¶

In [194]:
from xgboost import Booster

In [196]:
# mymodel.Booster.save_model(model_file_name)
joblib.load(model_file_name)

KNeighborsClassifier(n_neighbors=2)

In [197]:
!tar czvf model.tar.gz $model_file_name

Test-deployment-knn

In [198]:
bucket = sagemaker.Session().default_bucket()
bucket_path = "https://s3-{}.amazonaws.com/{}".format(region, bucket)
print(bucket)
print(bucket_path)

sagemaker-us-east-2-767858334163
https://s3-us-east-2.amazonaws.com/sagemaker-us-east-2-767858334163

###  Uploading the file to above created bucket

In [199]:
# prefix in S3 bucket
prefix = "sagemaker/TestDeployKNN"

fObj = open("model.tar.gz", "rb")
key = os.path.join(prefix, model_file_name, "model.tar.gz")
print(key)
boto3.Session().resource("s3").Bucket(bucket).Object(key).upload_fileobj(fObj)

sagemaker/TestDeployKNN/Test-deployment-knn/model.tar.gz

In [200]:
model_name = model_file_name + strftime("%Y-%m-%d-%H-%M-%S", gmtime())

model_url = "https://s3-{}.amazonaws.com/{}/{}".format(region, bucket, key)

In [201]:
print(model_name)
print(model_url)

Test-deployment-knn2021-08-06-17-36-00
https://s3-us-east-2.amazonaws.com/sagemaker-us-east-2-767858334163/sagemaker/TestDeployKNN/Test-deployment-knn/model.tar.gz

In [202]:
#Creating sagemaker model, printing ARN
primary_container = {
    "Image": container,
    "ModelDataUrl": model_url,
}

create_model_response2 = sm_client.create_model(
    ModelName=model_name, ExecutionRoleArn=role, PrimaryContainer=primary_container
)

print(create_model_response2["ModelArn"])

arn:aws:sagemaker:us-east-2:767858334163:model/test-deployment-knn2021-08-06-17-36-00

### Creating Endpoint configuration

In [203]:
endpoint_config_name = "TestDeployKNN-" + strftime("%Y-%m-%d-%H-%M-%S", gmtime())

print(endpoint_config_name)

create_endpoint_config_response = sm_client.create_endpoint_config(
    EndpointConfigName=endpoint_config_name,
    ProductionVariants=[
        {
            "InstanceType": "ml.m4.xlarge",
            "InitialInstanceCount": 1,
            "InitialVariantWeight": 1,
            "ModelName": model_name,
            "VariantName": "AllTraffic",
        }
    ],
)

print("Endpoint Config Arn: " + create_endpoint_config_response["EndpointConfigArn"])

TestDeployKNN-2021-08-06-17-36-10
Endpoint Config Arn: arn:aws:sagemaker:us-east-2:767858334163:endpoint-config/testdeployknn-2021-08-06-17-36-10

Creating EndPoint

In [204]:
%%time
import time

endpoint_name = "TestDeployKNN-SM-Endpoint-final" + strftime("%Y-%m-%d-%H-%M-%S", gmtime())
#printing Sagmaker endpoint name
print(endpoint_name)

create_endpoint_response = sm_client.create_endpoint(
    EndpointName=endpoint_name, EndpointConfigName=endpoint_config_name
)
print(create_endpoint_response["EndpointArn"])

resp = sm_client.describe_endpoint(EndpointName=endpoint_name)
status = resp["EndpointStatus"]
print("Status: " + status)

while status == "Creating":
    time.sleep(60)
    resp = sm_client.describe_endpoint(EndpointName=endpoint_name)
    status = resp["EndpointStatus"]
    print("Status: " + status)

print("Arn: " + resp["EndpointArn"])
print("Status: " + status)

TestDeployKNN-SM-Endpoint-final2021-08-06-17-36-33
arn:aws:sagemaker:us-east-2:767858334163:endpoint/testdeployknn-sm-endpoint-final2021-08-06-17-36-33
Status: Creating
Status: Creating
Status: Creating
Status: Creating
Status: Creating
Status: Creating
Status: Creating
Status: InService
Arn: arn:aws:sagemaker:us-east-2:767858334163:endpoint/testdeployknn-sm-endpoint-final2021-08-06-17-36-33
Status: InService
CPU times: user 125 ms, sys: 9.89 ms, total: 134 ms
Wall time: 7min 1s

Validation:

In [205]:
runtime_client = boto3.client("runtime.sagemaker")

In [207]:
# %%time
# import json
# payload = "1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0,0"
# response = runtime_client.invoke_endpoint(
#     EndpointName=endpoint_name, ContentType="text/csv", Body=payload
# )

# print(response)