In [1]:
import numpy as np
import time
import pandas as pd

In [2]:
path_upper="Documents/sjsu/mastersproject/CMPE295-Masters_Project/datacleaning/dataframedeepfashion/category-upper-all-everything.txt"

In [3]:
path_upper="/Users/pava/Documents/sjsu/category-upper-all-everything.txt"
df_upper = pd.read_csv(path_upper, sep=":")

In [4]:
df_upper=df_upper.sort_values(by=['total'], ascending=False)
df_upper.head(500)
del df_upper['total']

In [5]:
df_upper

,Unnamed: 0,t_floral,t_stripe,t_dot,f_lace,f_denim,f_chiffon,f_cotton,f_leather,f_fur,p_sleeveless,p_long-sleeve,p_collar,p_pocket,p_v-neck,p_button,p_hooded,p_zipper
48577,img/Textured_Knit_Hoodie/img_00000005.jpg,0,0,0,0,0,0,0,1,1,0,1,0,1,0,0,1,1
59584,img/Zip-Back_Striped_Tank/img_00000002.jpg,0,1,0,1,0,0,0,1,1,0,0,0,0,0,0,1,1
34427,img/Boxy_Polka_Dot_Pocket_Tee/img_00000049.jpg,0,0,1,0,1,0,0,1,1,0,0,0,1,1,0,0,0
91724,img/Faux_Suede_Fringe_Jacket/img_00000064.jpg,1,0,0,0,0,0,0,1,1,0,1,1,0,0,0,0,1
110046,img/Lace_Print_Chiffon_Jacket/img_00000040.jpg,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63928,img/Chic_95_Tee/img_00000030.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
63927,img/Chic_95_Tee/img_00000029.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
63925,img/Chic_95_Tee/img_00000027.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
63924,img/Chic_95_Tee/img_00000026.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
139708,img/Abstract_Geo_Print_Top/img_00000024.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
path_lower="/Users/pava/Documents/sjsu/category-lower-all-everything.txt"
df_lower = pd.read_csv(path_lower, sep=":")

In [7]:
df_lower_copy=df_lower.copy()
df_lower.insert(1,"category",2)
df_lower=df_lower.sort_values(by=['total'], ascending=False)
df_lower.head(500)

,Unnamed: 0,category,t_floral,t_stripe,t_dot,f_denim,f_leather,f_cotton,f_knit,f_pleated,s_fit,s_pencil,s_midi,s_mini,s_maxi,p_zipper,total
45369,img/Stretch-Knit_Pencil_Skirt/img_00000057.jpg,2,0,0,0,0,0,1,1,0,1,1,1,0,1,0,6
38985,img/Quilted_Faux_Leather_Trim_Skirt/img_000000...,2,0,0,0,0,1,0,0,1,0,1,1,1,0,0,5
7406,img/Butterfly_Print_Scuba_Knit_Skirt/img_00000...,2,0,1,0,1,0,0,1,0,0,0,0,1,1,0,5
52013,img/Faux_Leather_Midi_Pencil_Skirt/img_0000002...,2,0,0,0,0,1,0,0,0,0,1,1,0,1,1,5
39863,img/Pleated_Pinstripe_Skirt/img_00000024.jpg,2,0,1,0,0,0,0,0,1,1,1,0,1,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30099,img/Geo_Striped_Mini_Skirt/img_00000020.jpg,2,0,1,0,1,0,0,0,0,0,0,0,1,0,0,3
30088,img/Geo_Striped_Mini_Skirt/img_00000009.jpg,2,0,1,0,1,0,0,0,0,0,0,0,1,0,0,3
41784,img/Pinstriped_Denim_Joggers/img_00000029.jpg,2,0,1,0,1,0,0,0,0,0,0,0,0,0,1,3
34362,img/Textured_Stripe_Knit_Skirt/img_00000008.jpg,2,0,1,0,0,0,0,1,0,0,1,0,0,0,0,3
30078,img/Geo_Stripe_Knit_Mini_Skirt/img_00000026.jpg,2,0,1,0,0,0,0,1,0,0,0,0,1,0,0,3

In [8]:
manual_mapped="/Users/pava/Documents/sjsu/mastersproject/CMPE295-Masters_Project/datacleaning/models/CF/manualmapped/mapping.csv"

In [9]:
df_manual_mapped = pd.read_csv(manual_mapped)
df_manual_mapped

,Upper Image Link,Lower Image Link,Item Rating (1-5)
0,img/Mandarin_Collar_Pocket_Blouse/img_00000013...,img/Americana_Skinny_Jeans/img_00000035.jpg,4.0
1,img/Mandarin_Collar_Pocket_Blouse/img_00000013...,img/Flared_Jeans/img_00000084.jpg,5.0
2,img/Mandarin_Collar_Pocket_Blouse/img_00000013...,img/Heathered_Knit_Pencil_Skirt/img_00000005.jpg,1.0
3,img/Striped_Chiffon_Blouse/img_00000139.jpg,img/Surf_&_Sun_Denim_Shorts/img_00000017.jpg,4.0
4,img/Striped_Chiffon_Blouse/img_00000139.jpg,img/Lady_Lace_Mini_Skirt/img_00000018.jpg,5.0
...,...,...,...
545,NaN,NaN,NaN
546,NaN,NaN,NaN
547,NaN,NaN,NaN
548,NaN,NaN,NaN
549,END,NaN,NaN

In [10]:
df_manual_mapped.dropna()

,Upper Image Link,Lower Image Link,Item Rating (1-5)
0,img/Mandarin_Collar_Pocket_Blouse/img_00000013...,img/Americana_Skinny_Jeans/img_00000035.jpg,4.0
1,img/Mandarin_Collar_Pocket_Blouse/img_00000013...,img/Flared_Jeans/img_00000084.jpg,5.0
2,img/Mandarin_Collar_Pocket_Blouse/img_00000013...,img/Heathered_Knit_Pencil_Skirt/img_00000005.jpg,1.0
3,img/Striped_Chiffon_Blouse/img_00000139.jpg,img/Surf_&_Sun_Denim_Shorts/img_00000017.jpg,4.0
4,img/Striped_Chiffon_Blouse/img_00000139.jpg,img/Lady_Lace_Mini_Skirt/img_00000018.jpg,5.0
...,...,...,...
107,img/Round_Collar_Chiffon_Blouse/img_00000059.jpg,img/Embroidered_Polka_Dot_Skirt/img_00000036.jpg,1.0
108,img/Striped_Chiffon_Blouse/img_00000151.jpg,img/Classic_Mid-Rise_Shorts/img_00000010.jpg,2.0
109,img/Mandarin_Collar_Blouse/img_00000145.jpg,img/Slim_Cotton_Chinos/img_00000029.jpg,2.0
110,img/Faux_Leather_Hooded_Jacket/img_00000044.jpg,img/Faux_Leather_Zippered_Skirt/img_00000016.jpg,4.0
111,img/Sheer_Lace_&_Chiffon_Blouse/img_00000108.jpg,img/Stretch-Knit_A-Line_Skirt/img_00000046.jpg,2.0

In [11]:
df_upper_manual=df_upper[df_upper["Unnamed: 0"].isin(df_manual_mapped["Upper Image Link"])]
df_upper_manual= df_upper_manual.iloc[:75]
df_upper_manual

,Unnamed: 0,t_floral,t_stripe,t_dot,f_lace,f_denim,f_chiffon,f_cotton,f_leather,f_fur,p_sleeveless,p_long-sleeve,p_collar,p_pocket,p_v-neck,p_button,p_hooded,p_zipper
8188,img/Zip_Collar_Bomber/img_00000005.jpg,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,1
9532,img/Chiffon_Plaid_Blouse/img_00000021.jpg,0,0,0,0,0,1,0,0,0,1,0,0,1,0,1,0,0
2541,img/Striped_Chiffon_Blouse/img_00000139.jpg,0,1,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0
25719,img/Mandarin_Collar_Pocket_Blouse/img_00000013...,0,0,0,0,0,0,0,1,1,0,0,1,1,0,0,0,0
25701,img/Mandarin_Collar_Blouse/img_00000145.jpg,1,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60532,img/Zippered_Mesh-Paneled_Jacket/img_00000031.jpg,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,1
138258,img/Seamless_Zip-Up_Track_Jacket/img_00000023.jpg,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,1
5850,img/Button-Front_Blazer/img_00000082.jpg,0,0,0,0,0,0,0,1,1,0,0,1,0,0,1,0,0
90409,img/Faux_Leather_Tank/img_00000046.jpg,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,1
47617,img/Tasseled_Lace-Up_Sweater/img_00000014.jpg,0,0,0,1,0,1,0,1,1,0,0,0,0,0,0,0,0

In [12]:
df_lower_manual=df_lower[df_lower["Unnamed: 0"].isin(df_manual_mapped["Lower Image Link"])]

In [13]:
df_lower_manual

,Unnamed: 0,category,t_floral,t_stripe,t_dot,f_denim,f_leather,f_cotton,f_knit,f_pleated,s_fit,s_pencil,s_midi,s_mini,s_maxi,p_zipper,total
52013,img/Faux_Leather_Midi_Pencil_Skirt/img_0000002...,2,0,0,0,0,1,0,0,0,0,1,1,0,1,1,5
39863,img/Pleated_Pinstripe_Skirt/img_00000024.jpg,2,0,1,0,0,0,0,0,1,1,1,0,1,0,0,5
55868,img/Classic_Zippered_Joggers/img_00000044.jpg,2,0,0,0,0,0,1,0,0,1,1,0,0,0,1,4
52417,img/Faux_Leather_Zippered_Skirt/img_00000008.jpg,2,0,0,0,0,1,0,0,0,0,1,1,0,0,1,4
13091,img/Bohemian_Floral_Mini_Skirt/img_00000024.jpg,2,1,0,0,0,0,0,0,0,1,1,0,1,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5934,img/Lady_Lace_Mini_Skirt/img_00000018.jpg,2,1,0,0,0,0,0,0,0,0,0,0,1,0,0,2
55322,img/Classic_Skinny_Jeans/img_00000050.jpg,2,0,0,0,0,1,1,0,0,0,0,0,0,0,0,2
53159,img/Flared_Jeans/img_00000084.jpg,2,0,0,0,1,0,0,0,0,1,0,0,0,0,0,2
58203,img/Dark_Wash_-_Paneled_Skinny_Jeans/img_00000...,2,0,0,0,1,0,0,0,0,1,0,0,0,0,0,2
48152,img/Slim_Fit_Moto_Jeans/img_00000060.jpg,2,0,0,0,0,0,0,0,1,1,0,0,0,0,0,2

In [14]:
lower_index = df_lower_manual.index.values
upper_index = df_upper_manual.index.values
itemRating=df_manual_mapped["Item Rating (1-5)"][:75]
mapping={'top': upper_index, 'bottom': lower_index, "itemRating": itemRating}

In [15]:
df_mapping=pd.DataFrame(mapping)

In [16]:
df_mapping

       top  bottom  itemRating
0     8188   52013         4.0
1     9532   39863         5.0
2     2541   55868         1.0
3    25719   52417         4.0
4    25701   13091         5.0
..     ...     ...         ...
70   60532    5934         1.0
71  138258   55322         5.0
72    5850   53159         3.0
73   90409   58203         3.0
74   47617   48152         3.0

[75 rows x 3 columns]

In [17]:
df_mapping.to_csv('/Users/pava/Documents/sjsu/mastersproject/CMPE295-Masters_Project/datacleaning/models/CF/manualmapped/rating.csv')

In [18]:
df_mapping

       top  bottom  itemRating
0     8188   52013         4.0
1     9532   39863         5.0
2     2541   55868         1.0
3    25719   52417         4.0
4    25701   13091         5.0
..     ...     ...         ...
70   60532    5934         1.0
71  138258   55322         5.0
72    5850   53159         3.0
73   90409   58203         3.0
74   47617   48152         3.0

[75 rows x 3 columns]