# KNN
## Author: Parvathi Pai

This script matchs the upper and lower body items 1-1.
Uses KNN to predict lower body product

In [1]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
path_upper="/Users/pava/Documents/sjsu/category-upper-all-everything.txt"
df_upper = pd.read_csv(path_upper, sep=":")

In [3]:
df_upper_copy=df_upper.copy()
df_upper

,Unnamed: 0,t_floral,t_stripe,t_dot,f_lace,f_denim,f_chiffon,f_cotton,f_leather,f_fur,p_sleeveless,p_long-sleeve,p_collar,p_pocket,p_v-neck,p_button,p_hooded,p_zipper,total
0,img/Sheer_Pleated-Front_Blouse/img_00000001.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,img/Sheer_Pleated-Front_Blouse/img_00000002.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,img/Sheer_Pleated-Front_Blouse/img_00000003.jpg,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,2
3,img/Sheer_Pleated-Front_Blouse/img_00000004.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,img/Sheer_Pleated-Front_Blouse/img_00000005.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139704,img/Abstract_Geo_Print_Top/img_00000020.jpg,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
139705,img/Abstract_Geo_Print_Top/img_00000021.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
139706,img/Abstract_Geo_Print_Top/img_00000022.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
139707,img/Abstract_Geo_Print_Top/img_00000023.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
139708,img/Abstract_Geo_Print_Top/img_00000024.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
path_lower="/Users/pava/Documents/sjsu/category-lower-all-everything.txt"
df_lower = pd.read_csv(path_lower, sep=":")

In [5]:
df_lower_copy=df_lower.copy()
df_lower

,Unnamed: 0,t_floral,t_stripe,t_dot,f_denim,f_leather,f_cotton,f_knit,f_pleated,s_fit,s_pencil,s_midi,s_mini,s_maxi,p_zipper,total
0,img/Mineral_Wash_Mini_Skirt/img_00000001.jpg,0,0,0,1,0,0,0,0,0,1,1,0,0,0,3
1,img/Mineral_Wash_Mini_Skirt/img_00000002.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,img/Mineral_Wash_Mini_Skirt/img_00000003.jpg,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
3,img/Mineral_Wash_Mini_Skirt/img_00000004.jpg,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
4,img/Mineral_Wash_Mini_Skirt/img_00000005.jpg,0,0,0,1,0,0,0,0,0,0,0,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58958,img/Destroyed_Denim_Cutoffs/img_00000015.jpg,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
58959,img/Destroyed_Denim_Cutoffs/img_00000016.jpg,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
58960,img/Destroyed_Denim_Cutoffs/img_00000017.jpg,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
58961,img/Destroyed_Denim_Cutoffs/img_00000018.jpg,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
58962,img/Destroyed_Denim_Cutoffs/img_00000019.jpg,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1

In [6]:
df_upper.iloc[:, df_upper.columns != 'Unnamed: 0']

,t_floral,t_stripe,t_dot,f_lace,f_denim,f_chiffon,f_cotton,f_leather,f_fur,p_sleeveless,p_long-sleeve,p_collar,p_pocket,p_v-neck,p_button,p_hooded,p_zipper,total
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,2
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139704,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
139705,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
139706,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
139707,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
139708,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [7]:
df_lower.iloc[:, df_lower.columns != 'Unnamed: 0']

,t_floral,t_stripe,t_dot,f_denim,f_leather,f_cotton,f_knit,f_pleated,s_fit,s_pencil,s_midi,s_mini,s_maxi,p_zipper,total
0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,3
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
4,0,0,0,1,0,0,0,0,0,0,0,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58958,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
58959,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
58960,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
58961,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
58962,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1

In [8]:
colsToDrop = ['Unnamed: 0','total']
df_lower=df_lower.drop(colsToDrop, axis=1)

In [9]:
colsToDrop = ['Unnamed: 0','total']
df_upper=df_upper.drop(colsToDrop, axis=1)

# Matching table for upper and lower clothing items

In [10]:
df_mapping = pd.DataFrame({'top': pd.Series(range(0,100)), 'bottom': pd.Series(range(0,100))})
df_mapping

    top  bottom
0     0       0
1     1       1
2     2       2
3     3       3
4     4       4
..  ...     ...
95   95      95
96   96      96
97   97      97
98   98      98
99   99      99

[100 rows x 2 columns]

In [11]:
X = df_upper.iloc[:,:][0:100]
Y = df_lower.iloc[:,:][0:100]
Y

,t_floral,t_stripe,t_dot,f_denim,f_leather,f_cotton,f_knit,f_pleated,s_fit,s_pencil,s_midi,s_mini,s_maxi,p_zipper
0,0,0,0,1,0,0,0,0,0,1,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,0,0,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,0,0,0,0
97,0,0,0,0,0,0,0,0,0,0,0,0,0,0
98,0,0,0,1,0,0,0,0,0,0,0,0,0,0
99,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [12]:
Y = df_lower.iloc[df_mapping[0:100]["bottom"], :][0:100]
# bottom
Y

,t_floral,t_stripe,t_dot,f_denim,f_leather,f_cotton,f_knit,f_pleated,s_fit,s_pencil,s_midi,s_mini,s_maxi,p_zipper
0,0,0,0,1,0,0,0,0,0,1,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4,0,0,0,1,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,0,0,0,0
97,0,0,0,0,0,0,0,0,0,0,0,0,0,0
98,0,0,0,1,0,0,0,0,0,0,0,0,0,0
99,0,0,0,1,0,0,0,0,0,0,0,0,0,0

In [116]:
#lower
X

,t_floral,t_stripe,t_dot,f_lace,f_denim,f_chiffon,f_cotton,f_leather,f_fur,p_sleeveless,p_long-sleeve,p_collar,p_pocket,p_v-neck,p_button,p_hooded,p_zipper
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
97,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
98,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

# Splitting the data into train and test

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.25, random_state = 0)
# y_test
# X_test
# y_train
# y_test

# Training using KNN

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [15]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 2)
classifier.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=2)

In [16]:
y_pred = classifier.predict(X_test)

In [17]:
y_pred

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]])

In [18]:
y_test

,t_floral,t_stripe,t_dot,f_denim,f_leather,f_cotton,f_knit,f_pleated,s_fit,s_pencil,s_midi,s_mini,s_maxi,p_zipper
26,0,0,0,0,0,0,0,0,0,1,0,0,0,0
86,0,0,0,1,0,0,0,0,0,1,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0
55,0,0,0,0,0,0,0,0,0,1,0,0,0,0
75,0,0,0,0,0,0,0,0,0,0,0,0,0,0
93,0,0,0,0,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,0,0,0,0
73,0,0,0,1,0,0,0,0,0,0,1,0,0,0
54,0,0,0,1,0,0,0,0,0,0,0,0,0,0
95,0,0,0,0,0,0,0,0,0,0,0,0,0,0
53,0,0,0,0,0,0,0,0,0,1,0,0,0,0
92,0,0,0,0,0,0,0,0,0,0,0,0,0,0
78,0,0,0,1,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,1,0,0,0,0,0,0,0,1,0,0
30,0,0,0,1,0,0,0,0,0,1,0,0,0,0
22,0,0,0,1,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,0,0,0,0
33,0,0,0,0,0,0,0,0,1,1,0,0,0,0
8,0,0,0,1,0,0,0,0,0,0,0,1,0,0
43,0,0,0,0,0,0,0,0,0,0,0,0,0,0
62,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,0,1,0,0
71,0,0,0,0,0,0,0,0,0,1,0,0,0,0
45,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [19]:
from sklearn.metrics import confusion_matrix

In [20]:
y_pred == y_test

,t_floral,t_stripe,t_dot,f_denim,f_leather,f_cotton,f_knit,f_pleated,s_fit,s_pencil,s_midi,s_mini,s_maxi,p_zipper
26,True,True,True,True,True,True,True,True,True,False,True,True,True,True
86,True,True,True,False,True,True,True,True,True,False,True,True,True,True
2,True,True,True,False,True,True,True,True,True,True,True,True,True,True
55,True,True,True,True,True,True,True,True,True,False,True,True,True,True
75,True,True,True,True,True,True,True,True,True,True,True,True,True,True
93,True,True,True,True,True,True,True,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True,True,True,True,True,True,True,True
73,True,True,True,False,True,True,True,True,True,True,False,True,True,True
54,True,True,True,False,True,True,True,True,True,True,True,True,True,True
95,True,True,True,True,True,True,True,True,True,True,True,True,True,True
53,True,True,True,False,True,True,True,True,True,False,True,True,True,True
92,True,True,True,True,True,True,True,True,True,True,True,True,True,True
78,True,True,True,False,True,True,True,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True,True,True,True,True,True,True,True
7,True,True,True,False,True,True,True,True,True,True,True,False,True,True
30,True,True,True,False,True,True,True,True,True,False,True,True,True,True
22,True,True,True,False,True,True,True,True,True,True,True,True,True,True
24,True,True,True,True,True,True,True,True,True,True,True,True,True,True
33,True,True,True,True,True,True,True,True,False,False,True,True,True,True
8,True,True,True,False,True,True,True,True,True,True,True,False,True,True
43,True,True,True,True,True,True,True,True,True,True,True,True,True,True
62,True,True,True,True,True,True,True,True,True,True,True,True,False,True
3,True,True,True,True,True,True,True,True,True,True,True,False,True,True
71,True,True,True,True,True,True,True,True,True,False,True,True,True,True
45,True,True,True,True,True,True,True,True,True,True,True,True,True,True

In [21]:
# confusion_matrix(y_test.values.argmax(axis=1), y_pred.argmax(axis=1))
matching=(y_pred == y_test).all(True)
matching

26    False
86    False
2     False
55    False
75     True
93     True
16     True
73    False
54    False
95     True
53    False
92     True
78    False
13     True
7     False
30    False
22    False
24     True
33    False
8     False
43     True
62    False
3     False
71    False
45     True
dtype: bool

In [22]:
correctPredictions=sum(matching==True)

In [23]:
correctPredictionsRatio=correctPredictions/len(matching)
correctPredictionsRatio*100

36.0

In [24]:
X_set, y_set = X_train, y_train

In [25]:
X_set

array([[-0.16552118, -0.11624764,  0.        , ..., -0.4145781 ,
         0.        , -0.11624764],
       [-0.16552118, -0.11624764,  0.        , ..., -0.4145781 ,
         0.        , -0.11624764],
       [-0.16552118, -0.11624764,  0.        , ..., -0.4145781 ,
         0.        , -0.11624764],
       ...,
       [-0.16552118, -0.11624764,  0.        , ..., -0.4145781 ,
         0.        , -0.11624764],
       [-0.16552118, -0.11624764,  0.        , ..., -0.4145781 ,
         0.        , -0.11624764],
       [-0.16552118, -0.11624764,  0.        , ..., -0.4145781 ,
         0.        , -0.11624764]])

In [26]:
y_set

,t_floral,t_stripe,t_dot,f_denim,f_leather,f_cotton,f_knit,f_pleated,s_fit,s_pencil,s_midi,s_mini,s_maxi,p_zipper
48,0,0,0,1,0,0,0,0,0,1,1,0,0,0
6,0,0,0,0,0,0,0,0,0,0,0,1,0,0
99,0,0,0,1,0,0,0,0,0,0,0,0,0,0
82,0,0,0,1,0,0,0,0,0,0,0,0,0,0
76,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,0,0,0,0,0,0,0,0,0,0,0,0,0,0
67,0,0,0,1,0,0,0,0,0,1,1,0,0,0
64,0,1,0,0,0,0,0,0,0,1,0,0,0,0
47,0,0,0,1,0,0,0,0,0,1,1,0,0,0
44,0,0,0,1,0,0,0,0,0,1,0,0,0,0

In [86]:
df_upper_copy[df_upper_copy["total"]>4]

,Unnamed: 0,t_floral,t_stripe,t_dot,f_lace,f_denim,f_chiffon,f_cotton,f_leather,f_fur,p_sleeveless,p_long-sleeve,p_collar,p_pocket,p_v-neck,p_button,p_hooded,p_zipper,total
1466,img/Slub_Knit_Buttoned-Back_Blouse/img_0000009...,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0,0,5
2151,img/Split-Neck_Chiffon_Blouse/img_00000107.jpg,0,1,0,1,0,1,0,1,1,0,0,0,0,0,0,0,0,5
2495,img/Striped_Chiffon_Blouse/img_00000093.jpg,0,1,0,0,0,1,0,0,0,0,1,1,0,0,1,0,0,5
2578,img/Striped_Floral_Blouse/img_00000012.jpg,1,1,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,5
2642,img/Striped_Floral_Blouse/img_00000076.jpg,1,1,0,0,0,1,0,0,0,0,1,0,1,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126040,img/Bleached_Denim_Jacket/img_00000082.jpg,0,0,0,0,1,0,0,1,1,0,1,0,0,0,0,1,0,5
129700,img/Plaid_Pocket_Tee/img_00000007.jpg,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,1,1,5
130293,img/Polka_Dot_Baseball_Tee/img_00000062.jpg,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,5
137919,img/Scuba_Knit_Collared_Jacket/img_00000038.jpg,0,0,0,0,0,0,0,1,1,0,0,1,0,0,1,0,1,5
139349,img/Boxy_Multi-Striped_Tee/img_00000023.jpg,0,1,1,0,0,0,1,0,0,0,0,0,0,1,0,1,0,5

In [87]:
number=df_upper.iloc[[1466]].to
number

,t_floral,t_stripe,t_dot,f_lace,f_denim,f_chiffon,f_cotton,f_leather,f_fur,p_sleeveless,p_long-sleeve,p_collar,p_pocket,p_v-neck,p_button,p_hooded,p_zipper
1466,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0,0

# Predicting new lower clothing item

In [93]:
query=number.values
query = query.reshape(1, -1)
predicted_lower= classifier.predict(query)

In [94]:
print(predicted_lower)

[[0 0 0 0 0 0 0 0 0 1 0 0 0 0]]

In [115]:
df_lower_copy[(df_lower["t_floral"]==0) & (df_lower["t_stripe"]==0) & (df_lower["t_dot"]==0) & (df_lower["f_denim"]==0) & (df_lower["f_leather"]==0) & (df_lower["f_cotton"]==0) & (df_lower["f_knit"]==0) & (df_lower["f_pleated"]==0) & (df_lower["s_fit"]==0) & (df_lower["s_pencil"]==1) & (df_lower["s_midi"]==0) & (df_lower["s_mini"]==0) & (df_lower["s_maxi"]==0) & (df_lower["p_zipper"]==0)]

,Unnamed: 0,t_floral,t_stripe,t_dot,f_denim,f_leather,f_cotton,f_knit,f_pleated,s_fit,s_pencil,s_midi,s_mini,s_maxi,p_zipper,total
26,img/Mineral_Wash_Pencil_Skirt/img_00000001.jpg,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
27,img/Mineral_Wash_Pencil_Skirt/img_00000002.jpg,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
31,img/Mineral_Wash_Pencil_Skirt/img_00000006.jpg,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
35,img/Mineral_Wash_Pencil_Skirt/img_00000010.jpg,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
41,img/Mineral_Wash_Pencil_Skirt/img_00000016.jpg,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58741,img/Denim_Pencil_Skirt/img_00000043.jpg,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
58751,img/Denim_Pencil_Skirt/img_00000053.jpg,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
58849,img/Destinations_Graphic_Heathered_Skirt/img_0...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
58852,img/Destinations_Graphic_Heathered_Skirt/img_0...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
58862,img/Destinations_Graphic_Heathered_Skirt/img_0...,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1